<a href="https://colab.research.google.com/github/Fatima367/Python_Assignments/blob/main/1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Data Types**

# 1. Numeric Types

In [6]:
number = 10  # Integer
numbers_in_decimal = 3.14  # Float
complex_values = 1 + 2j  # Complex

print(f"Number: {number},\t \t \t Data type: {type(number)}")
print(f"Numbers in decimal: {numbers_in_decimal},\t Data type: {type(numbers_in_decimal)}")
print(f"Complex values: {complex_values},\t \t Data type: {type(complex_values)}")

Number: 10,	 	 	 Data type: <class 'int'>
Numbers in decimal: 3.14,	 Data type: <class 'float'>
Complex values: (1+2j),	 	 Data type: <class 'complex'>

# 2. Boolean

In [12]:
language_is_python = True         # True or False
language_is_typescript = False

print(f"Language is python? {language_is_python} \t Data type: {type(language_is_python)}")
print(f"Language is typescript? {language_is_typescript} \t Data type: {type(language_is_typescript)}")

Language is python? True 	 Data type: <class 'bool'>
Language is typescript? False 	 Data type: <class 'bool'>

# 3. Sequence Data Types

In [8]:
text = 'Hello, World!' # String with single quotes
text1 = "Hello, world!"  # String with double quotes
text2 = """Hello
\t World!"""               # String with triiple quotes / Multiline string

print(f"String with single quotes: {text}, \t Data Type: {type(text)}")
print(f"String with double quotes: {text1}, \t Data Type: {type(text1)}")
print(f"String with triple quotes: {text2}, \t \t \t \t Data Type: {type(text2)}")

String with single quotes: Hello, World!, 	 Data Type: <class 'str'>
String with double quotes: Hello, world!, 	 Data Type: <class 'str'>
String with triple quotes: Hello
	 World!, 	 	 	 	 Data Type: <class 'str'>

In [9]:
new_list = [1, 2, 3, "a", "b"]  # List (mutable)
new_tuple = (1, 2, 3, "a", "b")  # Tuple (immutable)

print(f"List: {new_list}, \t \t Data Type: {type(new_list)}")
print(f"Tuple: {new_tuple}, \t \t Data Type: {type(new_tuple)}")

List: [1, 2, 3, 'a', 'b'], 	 	 Data Type: <class 'list'>
Tuple: (1, 2, 3, 'a', 'b'), 	 	 Data Type: <class 'tuple'>

# 4. Mapping Data Type (Dictionary)

In [13]:
student = {"name": "Alice", "age": 18}  # Dictionary (key-value pairs)

print(f"Dictionary: {student}, \t Data Type: {type(student)}")

Dictionary: {'name': 'Alice', 'age': 18}, 	 Data Type: <class 'dict'>

# 5.  Sets

In [21]:
new_set = {1, 2, 3}  # Set (mutable unordered collection of unique elements)
new_frozenset = frozenset([1, 2, 3]) # Frozenset (immutable unordered collection of unique elements)


print(f"Set: {new_set}, \t \t \t Data Type: {type(new_set)}")
print(f"Frozenset: {new_frozenset}, \t Data Type: {type(new_frozenset)}")

Set: {1, 2, 3}, 	 	 	 Data Type: <class 'set'>
Frozenset: frozenset({1, 2, 3}), 	 Data Type: <class 'frozenset'>

# 6. None

In [22]:
data = None # None (Special data type represents the absence of value)

print(f"Data: {data}")
print(f"Type: {type(data)}")

Data: None
Type: <class 'NoneType'>

# 7. Binary Data Types

In [28]:
bytes_data = b"Hello"                  # Bytes
byte_array = bytearray([65, 66, 67, 68, 69 ,70])          # Bytearray       # ASCII values of alphabets
data_memoryview = memoryview(b'Hello World') # Memoryview

print(f"Bytes: {bytes_data} \t \t \t \t Data Type {type(bytes_data)}")
print(f"Bytearray: {byte_array} \t Data Type {type(byte_array)}")
print(byte_array[0])
print(chr(byte_array[0]))
print(f"Memoryview: {data_memoryview} \t \t Data Type {type(data_memoryview)}")
print(bytes(data_memoryview[0:5]))

Bytes: b'Hello' 	 	 	 	 Data Type <class 'bytes'>
Bytearray: bytearray(b'ABCDEF') 	 Data Type <class 'bytearray'>
65
A
Memoryview: <memory at 0x7ebf604d4c40> 	 	 Data Type <class 'memoryview'>
b'Hello'

# **Python Special Keywords / Reserved Keywords**

In [30]:
import keyword

print("Python Special Reserved Keywords: \n")

for keyword in keyword.kwlist:
  print(keyword)

Python Special Reserved Keywords:

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield