# Python First Assignment

## 1. Three different strings using each type of quotation:

In [ ]:
string1 = 'String written in SINGLE QUOTES'
string2 = "String written in DOUBLE QUOTES"
string3 = """String written in TRIPLE QUOTES"""
print(string1)
print(string2)
print(string3)

String written in SINGLE QUOTES
String written in DOUBLE QUOTES
String written in TRIPLE QUOTES

## 2. Explanation

1. When we use single quotes(' ') in string we can use double quotes(" ") in it, like :

In [ ]:
string = '"It always seems impossible until it is done." - Nelson Mandela'
print(string)

"It always seems impossible until it is done." - Nelson Mandela

2. When we use double quotes(" ") in string we can use double quotes(' ') in it, like :

In [ ]:
string = "'It always seems impossible until it is done.' - Nelson Mandela"
print(string)

'It always seems impossible until it is done.' - Nelson Mandela

3. For Multiline strings we use Triple quotes

In [ ]:
string = """ 'It always seems impossible until it is done.'
- Nelson Mandela"""
print(string)

 'It always seems impossible until it is done.'
- Nelson Mandela

## 3. String that contains both single and double quotes inside it

In [ ]:
string = """ "It always seems impossible until it's done." - Nelson Mandela"""
print(string)

 "It always seems impossible until it's done." - Nelson Mandela

## 4. Multi-line string using triple quotes that describes favorite hobby

In [ ]:
hobbies = """1. Coding and building projects
2. Reading books
3. Learning new programming language"""
print(hobbies)

1. Coding and building projects
2. Reading books
3. Learning new programming language

## 5. String Methods Practice

In [ ]:
full_name = "Shanzay Fatima"
print(full_name.upper()) # name in upper case
print(full_name.lower()) # name in lower case

SHANZAY FATIMA
shanzay fatima

In [ ]:
full_name = "shanzay fatima"
print(full_name.title()) # name with first letter of each name capitalized

Shanzay Fatima

In [ ]:
messy_text = " Python programming is fun! "
print(messy_text.strip()) # Removing all the extra spaces at the beginning and end

Python programming is fun!
2

In [ ]:
print(messy_text.replace("fun", "amazing")) # Replaces "fun" with "amazing"

 Python programming is amazing!

In [ ]:
print(messy_text.count('i')) # Counting how many times the letter 'i' appears

2

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog"
list_of_words = sentence.split()  # Splitting this sentence into a list of words
print(list_of_words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [ ]:
print("-".join(list_of_words))  # Joining the words back together with dashes between them

The-quick-brown-fox-jumps-over-the-lazy-dog

In [ ]:
print(sentence.startswith("The"))  # Checking if the sentence starts with "The"

True

In [ ]:
print(sentence.index("fox")) # Finding the position of the word "fox"

16

## 6. F-Strings

In [ ]:
name = "Shanzay"
age = 17
fav_programming_language = "Python"

sentence = f"""o My name is {name} and I am {age} years old.
o I enjoy programming in {fav_programming_language}, it's my favorite!
o In 5 years, I will be {age + 5} years
old."""

print(sentence)

o My name is Shanzay and I am 17 years old.
o I enjoy programming in Python, it's my favorite!
o In 5 years, I will be 22 years
old.

## 7. Combining String Methods with F-Strings

In [ ]:
import datetime
first_name = input("Enter your first name ")
last_name = input("Enter your last name ")
birth_year = int(input("Enter your birth year "))

current_year = datetime.datetime.now().year
calculated_age = current_year - birth_year

user_data = f"""Profile: {first_name.capitalize()} {last_name.capitalize()}
Age: {calculated_age}
Username: {first_name[:1]}{last_name.lower()}{birth_year}"""

print(user_data)

Enter your first name sana
Enter your last name naz
Enter your birth year 2005
Profile: Sana Naz
Age: 20
Username: snaz2005