<a href="https://colab.research.google.com/github/Fatima367/Python_Assignments/blob/main/03_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic List Operations

In [ ]:
number_list: list = [ 1, 2, 3, 4, 5 ]
print("Number List: ", number_list)

number_list.append(6)

print("Appended new number in the list: ", number_list)

Number List:  [1, 2, 3, 4, 5]
Appended new number in the list:  [1, 2, 3, 4, 5, 6]

In [ ]:
number_list: list = [ 1, 2, 3, 4, 5 ]
print("Number List: ", number_list)

second_list: list = [ 6, 7, 8, 9]

number_list.extend(second_list)

print("Extended list: ", number_list)

Number List:  [1, 2, 3, 4, 5]
Extended list:  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
languages: list = ["Java", "C++", "JavaScript", "Ruby"]
print(languages)

languages.insert(1, "Python")
print("Insereted Python: ", languages)

['Java', 'C++', 'JavaScript', 'Ruby']
Insereted Python:  ['Java', 'Python', 'C++', 'JavaScript', 'Ruby']

In [ ]:
number_list: list = [10, 20, 30, 10, 40]
print("Number list: ", number_list)

number_list.remove(10)

print("Removed 10 from list: ", number_list)

Number list:  [10, 20, 30, 10, 40]
Removed 10 from list:  [20, 30, 10, 40]

In [ ]:
numbers : list =  [100, 200, 300, 400]
print("Numbers: ", numbers)

numbers.pop()
print("Updated List: ", numbers)

Numbers:  [100, 200, 300, 400]
Updated List:  [100, 200, 300]

# Intermediate List Operations

In [ ]:
number_list : list = [5, 10, 5, 20, 5, 30]

print(number_list)

print(f"\nNumbers '5' appears {number_list.count(5)} times in the list.")

[5, 10, 5, 20, 5, 30]

Numbers '5' appears 3 times in the list.

In [ ]:
new_list : list =  [9, 1, 8, 3, 5]
print(new_list)

new_list.sort()
print("Sorted list in ascending order: ", new_list)

new_list.sort(reverse=True)  #   OR   new_list.reverse()    OR    print(new_list[::-1])
print("Sorted list in descending order: ", new_list)

[9, 1, 8, 3, 5]
Sorted list in ascending order:  [1, 3, 5, 8, 9]
Sorted list in descending order:  [9, 8, 5, 3, 1]

In [ ]:
fruit_list: list = [ "apple", "banana", "cherry"]
print("Fruit list: ", fruit_list)

fruit_list.reverse()
print("Reversed fruit list: ", fruit_list)

Fruit list:  ['apple', 'banana', 'cherry']
Reversed fruit list:  ['cherry', 'banana', 'apple']

In [ ]:
number_list: list = [1, 2, 3, 4, 5]

copied_list : list = number_list.copy()

copied_list.append(6)

print("Original List: ", number_list)
print()
print("Copied and then updated List: ", copied_list)

Original List:  [1, 2, 3, 4, 5]

Copied and then updated List:  [1, 2, 3, 4, 5, 6]

In [ ]:
word_list: list =  ["hello", "world", "python"]
print(word_list)

word_list.clear()
print("Cleared list: " , word_list)

['hello', 'world', 'python']
Cleared list:  []

# Tuple-Based Questions

In [ ]:
fruit_tuple: tuple = ("mango", "orange", "kiwi", "watermelon", "grapes")
print("Fruits: ", fruit_tuple)
print()
print("Third Fruit: ", fruit_tuple[2])

Fruits:  ('mango', 'orange', 'kiwi', 'watermelon', 'grapes')

Third Fruit:  kiwi

In [ ]:
numbers : tuple =  (10, 20, 30, 40, 50)
print("Tuple of numbers: ", numbers)
print()

new_list : list = list(numbers)
print("Converted into list: ", new_list)
print()

new_list.remove(30)
numbers: tuple = tuple(new_list)
print("Removed '30' and again converted back to tuple",numbers)

Tuple of numbers:  (10, 20, 30, 40, 50)

Converted into list:  [10, 20, 30, 40, 50]

Removed '30' and again converted back to tuple (10, 20, 40, 50)

In [ ]:
alphabet: tuple = ("A", "B", "C")

# alphabet.append("D")    ERROR

# Modifying a tuple indirectly
print("Tuple of alphabets: ", alphabet)
print()

new_list : list = list(alphabet)
print("Converted into list: ", new_list)
print()

new_list.append("D")
alphabet: tuple = tuple(new_list)
print("Appended 'D' and again converted back to tuple",alphabet)

Tuple of alphabets:  ('A', 'B', 'C')

Converted into list:  ['A', 'B', 'C']

Appended 'D' and again converted back to tuple ('A', 'B', 'C', 'D')

In [ ]:
numbers: tuple = (100, 200, 300)
print("Numbers Tuple: ", numbers)

a, b , c = numbers
print("Unpacked into variables:")
print(a)
print(b)
print(c)

Numbers Tuple:  (100, 200, 300)
Unpacked into variables:
100
200
300

In [ ]:
numbers : tuple = (7, 1, 7, 3, 7, 5)

print(numbers)

print(f"\nNumber '7' appears {numbers.count(7)} times in the tuple.")

(7, 1, 7, 3, 7, 5)

Number '7' appears 3 times in the tuple.

# Advanced Problems

In [ ]:
def remove_even_numbers(numbers):
  return [x for x in numbers if x % 2 != 0]  # OR return [x for x in [2, 6, 7, 8, 3, 40, 435, 40, 53] if x % 2 != 0]

numbers = [2, 6, 7, 8, 3, 40, 435, 40, 53]
print(numbers)

result = remove_even_numbers(numbers)
print("Even numbers removed: ", result)

[2, 6, 7, 8, 3, 40, 435, 40, 53]
Even numbers removed:  [7, 3, 435, 53]

In [ ]:
def reverse_elements(elements):
  new_list = elements.copy()
  new_list.sort()
  new_list.reverse()
  return new_list

elements : list = [2, 6, 7, 8, 3, 40, 435, 40, 53]
print(elements)

result = reverse_elements(elements)
print(f"""\nNew list with elements sorted in descending order without using the sort() method: \n{result}""")

[2, 6, 7, 8, 3, 40, 435, 40, 53]

New list with elements sorted in descending order without using the sort() method:
[435, 53, 40, 40, 8, 7, 6, 3, 2]

In [ ]:
# OR

def reverse_elements(elements):
  return sorted(elements, reverse=True)

elements : list = [2, 6, 7, 8, 3, 40, 435, 40, 53]
print(elements)

result = reverse_elements(elements)
print(f"""\nNew list with elements sorted in descending order without using the sort() method: \n{result}""")

[2, 6, 7, 8, 3, 40, 435, 40, 53]

New list with elements sorted in descending order without using the sort() method:
[435, 53, 40, 40, 8, 7, 6, 3, 2]

In [ ]:
def remove_duplicates(elements):
  return [ x for x in elements if elements.count(x) == 1 ]

numbers: list = [1,3,3, 4,5,5,5,6,7,7,4,4,2,4,23,4,3,2]

print(numbers)

result = remove_duplicates(numbers)

print("Removed Duplicate Numbers: ", result)

[1, 3, 3, 4, 5, 5, 5, 6, 7, 7, 4, 4, 2, 4, 23, 4, 3, 2]
Removed Duplicate Numbers:  [1, 6, 23]

In [ ]:
# OR

numbers: list = [1,3,3, 4,5,5,5,6,7,7,4,4,2,4,23,4,3,2]

print(numbers)

unique_elements = set(numbers)

result = list(unique_elements)

print("Removed Duplicates: ", result)

[1, 3, 3, 4, 5, 5, 5, 6, 7, 7, 4, 4, 2, 4, 23, 4, 3, 2]
Removed Duplicates:  [1, 2, 3, 4, 5, 6, 7, 23]

In [ ]:
names = ("Alice", "Bob", "Charlie", "Alice", "David")
print("Tuple of names: ", names)
print()

list_of_names = list(names)

unique_names = set(list_of_names)

names = tuple(unique_names)
print("Removed duplicate names: ", names)

Tuple of names:  ('Alice', 'Bob', 'Charlie', 'Alice', 'David')

Removed duplicate names:  ('Alice', 'David', 'Charlie', 'Bob')

```python
mixed_list = [1, "hello", 3.14, 2, "world", 5.67]
print("Mixed List:", mixed_list)
print()

def separator(lst):

  integer_list = [x for x in lst if type(x) == int]

  print("Separated Integers: ", integer_list)

  string_list = [x for x in lst if type(x) == str]

  print("Separated Strings: ", string_list)

  float_list = [x for x in lst if type(x) == float]

  print("Separated Floats: ", float_list)

  return ""

print(separator(mixed_list))
```

***Result:***

Mixed List: [1, 'hello', 3.14, 2, 'world', 5.67]

Separated Integers:  [1, 2]   
Separated Strings:  ['hello', 'world']  
Separated Floats:  [3.14, 5.67]

In [2]:
#   OR
mixed_list = [1, "hello", 3.14, 2, "world", 5.67]
print("Mixed List:", mixed_list)
print()

def separator(lst):

  integer_list = [x for x in lst if isinstance(x, int)]

  print("Separated Integers: ", integer_list)

  string_list = [x for x in lst if isinstance(x, str)]

  print("Separated Strings: ", string_list)

  float_list = [x for x in lst if isinstance(x, float)]

  print("Separated Floats: ", float_list)

  return ""

print(separator(mixed_list))

Mixed List: [1, 'hello', 3.14, 2, 'world', 5.67]

Separated Integers:  [1, 2]
Separated Strings:  ['hello', 'world']
Separated Floats:  [3.14, 5.67]