<a href="https://colab.research.google.com/github/Fatima367/Python_Assignments/blob/main/04_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List Methods Practice**

# 1. Create and Modify Lists

In [3]:
fruits: list[str] = [ "apple", "banana", "orange"]

fruits.append("grapes")

fruits.insert(2, "mango")

fruits.remove("banana")

print(fruits)

['apple', 'banana', 'mango', 'orange', 'grapes']
['apple', 'mango', 'orange', 'grapes']

# 2. List Operations

In [9]:
numbers : list[int] = [10, 20, 30, 40, 50]
more_numbers : list[int] = [60, 70, 80]

all_numbers: list[int] = numbers + more_numbers

numbers_copy = all_numbers.copy()

numbers_copy.sort(reverse=True)

print(all_numbers)
print(numbers_copy)

[10, 20, 30, 40, 50, 60, 70, 80]
[80, 70, 60, 50, 40, 30, 20, 10]

In [34]:
# OR

numbers : list[int] = [10, 20, 30, 40, 50]
more_numbers : list[int] = [60, 70, 80]

all_numbers: list[int] = [*numbers ,*more_numbers]

print(all_numbers)

[10, 20, 30, 40, 50, 60, 70, 80]

# 3. Sorting and Counting

In [15]:
scores: list[int] = [85, 92, 78, 65, 92, 85, 74]
scores.sort()

print("Sorted : ", scores)
print(f"Lowest Score: {scores[0]}")

scores.sort(reverse=True)
print(f"Highest Score: {scores[0]}")

print("Reversed: " ,scores)
print(f"92 appeared '{scores.count(92)}' times.")

#OR
max_score = max(scores)
min_score = min(scores)

print("Highest: ", max_score)
print("Lowest: ", min_score)

Sorted :  [65, 74, 78, 85, 85, 92, 92]
Lowest Score: 65
Highest Score: 92
Reversed:  [92, 92, 85, 85, 78, 74, 65]
92 appeared '2' times.
Highest:  92
Lowest:  65

# 4. List Manipulation

In [18]:
letters : list[str] = ["a", "b", "c", "d", "e"]

new_list = letters[:3]

another_list = letters[-2:]

print("Originial list: ",letters)
print("First three: ",new_list)
print("Last two: ",another_list)

letters[3] = "z"

print("Index of c: ", letters.index("c"))
print("Modified list: ", letters)

Originial list:  ['a', 'b', 'c', 'd', 'e']
First three:  ['a', 'b', 'c']
Last two:  ['d', 'e']
Index of c:  2
Modified list:  ['a', 'b', 'c', 'z', 'e']

# **Dictionary Methods Practice**

## 1. Create and Access Dictionaries

In [23]:
student = {
   "name": "John",
   "age": 20,
   "grade": "A",
   "courses": ["Math", "Science", "History"]
}

print("Name: ",student["name"])
print("Courses: ", student["courses"])

student["email"] = "john@example.com"

print(f"Data:\n{student}")

Name:  John
Courses:  ['Math', 'Science', 'History']
Data:
{'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History'], 'email': 'john@example.com'}

# 2. Modify Dictionary Values

In [24]:
student["age"] = 21

student["courses"].append('Computer Science')

student['grade'] = "A+"

print(f"Updated Data:\n{student}")

Updated Data:
{'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'Computer Science'], 'email': 'john@example.com'}

# 3. Dictionary Operations

In [30]:
student_address = {
    "street": "123 College Ave",
    "city": "New York",
    "zip": "10001"
    }

student_info = {**student, **student_address}

student_info.pop("zip", "Not Found.")

student_info.get("phone", "Phone not found")

print(f"Final Data:\n{student_info}")

Final Data:
{'name': 'John', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'Computer Science'], 'email': 'john@example.com', 'street': '123 College Ave', 'city': 'New York'}

# 4. Dictionary Methods

In [38]:
word_count = {
    "hello": 5,
    "world": 10,
    "python": 15
}

print("All keys: ",list(word_count.keys()))
print("All values: ", list(word_count.values()))
print("All key-value pairs: ",word_count.items())

copied_dictionary = word_count.copy()

word_count.clear()

print("Emptied: ",word_count)
print("Copied: ",copied_dictionary)

All keys:  ['hello', 'world', 'python']
All values:  [5, 10, 15]
All key-value pairs:  dict_items([('hello', 5), ('world', 10), ('python', 15)])
Emptied:  {}
Copied:  {'hello': 5, 'world': 10, 'python': 15}

# **Shopping Discount Calculator**

In [10]:
purchase_amount = 2000
is_loyalty_member = True
day_of_week = "Wednesday"
is_holiday_season = False

final_amount = 0

## 2. Apply discount rules using if statements:

In [13]:
purchase_amount = 2000
is_loyalty_member = True
day_of_week = "Wednesday"
is_holiday_season = False

discount_amount = 0

print(f"\nOriginal purchase amount: ${purchase_amount}\n")

if purchase_amount > 100:
  discount = purchase_amount * 10/100
  discount_amount += discount
  print(f"${discount} discount- '10%' discount on purchases over $100")
elif 50 < purchase_amount <= 100:
  discount = purchase_amount * 5/100
  discount_amount += discount
  print(f"${discount} discount- '5%' discount on purchases over $50")

if is_loyalty_member:
  loyalty_discount = purchase_amount * 5/100
  discount_amount += loyalty_discount
  print(f"${loyalty_discount} discount- 5% discount for loyalty members")

if day_of_week.lower() == "saturday" or day_of_week.lower() == "sunday":
  weekend_discount = purchase_amount * 2/100
  discount_amount += weekend_discount
  print(f"${weekend_discount} discount- 2% discount on weekends")

if is_holiday_season:
  holiday_discount = purchase_amount * 8/100
  discount_amount += holiday_discount
  print(f"${holiday_discount} discount- 8% discount on holiday")


final_amount = purchase_amount - discount_amount
print(f"Total discounts: ${discount}")

print(f"\nThe final price after discount: ${total}")

Original purchase amount: $2000

$200.0 discount- '10%' discount on purchases over $100
$100.0 discount- 5% discount for loyalty members
Total discounts: $200.0

The final price after discount: $1700.0

# **For Loop Assignment** - Number Patterns

# 1. Pattern 1: Counting Numbers

In [15]:
for num in range(1,11):
  print(num)

1
2
3
4
5
6
7
8
9
10

# Pattern 2: Multiplication Table

In [16]:
for i in range(1,11):
  print(f"5 x {i} = {i * 5}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# **While Loop Assignment** - Interactive Game

In [21]:
import random

print("Number Guessing Game")

guess_count = 0
secret_number = random.randint(1,50)
guess = 0
print("I've selected a number between 1-50")

while guess != secret_number:
  guess = int(input("Guess what is that number: "))
  guess_count += 1

  if guess > secret_number:
    print("Your guess is too high.")
  elif guess < secret_number:
    print("Your guess is too low.")

print(f"\nYour guess is correct! The number was {secret_number}")
print(f"Total guess attempts: {guess_count}")

Number Guessing Game
I've selected a number between 1-50
Guess what is that number: 40
Your guess is too high.
Guess what is that number: 20
Your guess is too high.
Guess what is that number: 10
Your guess is too high.
Guess what is that number: 5
Your guess is too low.
Guess what is that number: 8
Your guess is too low.
Guess what is that number: 9

Your guess is correct! The number was 9
Total guess attempts: 6

# **Student Grade Management System**

In [36]:
students = [{"name": "Aiden", "id": 734, "grades": {"Maths": 78, "Computer": 87, "History": 79}},
            {"name": "Thomson", "id": 894, "grades": {"Maths": 89, "Computer": 58, "History": 59}},
            {"name": "Maya", "id": 302, "grades": {"Maths": 89, "Computer": 80, "History": 76}}]

highest_average_grade = 0
above_grade_80_students = []
highest_grade_student = ""

for student in students:
  print(f"\nName: {student['name']}")
  sum_of_grades = 0
  total_grades = 0

  print("Grades:")
  for course, grade in student['grades'].items():
    print(f"\t{course}: {grade}")
    sum_of_grades += grade
    total_grades += 1


  average_grade = sum_of_grades / total_grades
  print(f"Average Grade: {round(average_grade, 2)}")

  if average_grade > highest_average_grade:
    highest_average_grade = average_grade
    highest_grade_student = student

  if average_grade > 80:
    above_grade_80_students.append(student)


print(f"\nHighest Grade Student: {highest_grade_student}")

print("\nAll students with average grade above 80: ")
for student in above_grade_80_students:
  print(student)

Name: Aiden
Grades:
	Maths: 78
	Computer: 87
	History: 79
Average Grade: 81.33

Name: Thomson
Grades:
	Maths: 89
	Computer: 58
	History: 59
Average Grade: 68.67

Name: Maya
Grades:
	Maths: 89
	Computer: 80
	History: 76
Average Grade: 81.67

Highest Grade Student: {'name': 'Maya', 'id': 302, 'grades': {'Maths': 89, 'Computer': 80, 'History': 76}}

All students with average grade above 80:
{'name': 'Aiden', 'id': 734, 'grades': {'Maths': 78, 'Computer': 87, 'History': 79}}
{'name': 'Maya', 'id': 302, 'grades': {'Maths': 89, 'Computer': 80, 'History': 76}}

In [38]:
students = [{"name": "Aiden", "id": 734, "grades": {"Maths": 78, "Computer": 87, "History": 79}},
            {"name": "Thomson", "id": 894, "grades": {"Maths": 89, "Computer": 58, "History": 59}},
            {"name": "Maya", "id": 302, "grades": {"Maths": 89, "Computer": 80, "History": 76}}]

course_name = input("Enter course name for average grade of that course: ").title()
sum_of_grades = 0
total_grades = 0

for student in students:
  if course_name in student['grades']:
    sum_of_grades += student['grades'][course_name]
    total_grades += 1

  else:
    print("Course not found.")

  average_course_grade = sum_of_grades / total_grades

print(f"Average grade for {course_name} course: {round(average_course_grade, 2)}")

Enter course name for average grade of that course: computer
Average grade for Computer course: 75.0

In [40]:
students = [{"name": "Aiden", "id": 734, "grades": {"Maths": 78, "Computer": 87, "History": 79}},
            {"name": "Thomson", "id": 894, "grades": {"Maths": 89, "Computer": 58, "History": 59}},
            {"name": "Maya", "id": 302, "grades": {"Maths": 89, "Computer": 80, "History": 76}}]


name = input("Enter student name: ").title()
student_id = int(input("Enter student 3-digit id: "))
new_grades = {}

for course in ['Math', 'Computer', 'History']:
  grade = int(input(f"Enter grade for {course}: "))
  new_grades[course] = grade

new_student = {"name": name, "id": student_id, "grades": new_grades}

students.append(new_student)

print(f"\nNew student added to students: {new_student}")
print(f"\n{students}")

Enter student name: Henry
Enter student 3-digit id: 744
Enter grade for Math: 70
Enter grade for Computer: 79
Enter grade for History: 91

New student added to students: {'name': 'Henry', 'id': 744, 'grades': {'Math': 70, 'Computer': 79, 'History': 91}}

[{'name': 'Aiden', 'id': 734, 'grades': {'Maths': 78, 'Computer': 87, 'History': 79}}, {'name': 'Thomson', 'id': 894, 'grades': {'Maths': 89, 'Computer': 58, 'History': 59}}, {'name': 'Maya', 'id': 302, 'grades': {'Maths': 89, 'Computer': 80, 'History': 76}}, {'name': 'Henry', 'id': 744, 'grades': {'Math': 70, 'Computer': 79, 'History': 91}}]